@font-face {
  font-family: PressStart2P-Regular;
  src: url("./PressStart2P-Regular.ttf") format("truetype");
}

body {
  font-family: PressStart2P-Regular;
  background-image: url(https://i.pinimg.com/originals/c6/dd/7b/c6dd7b83d53b530167225bc2ad994fa7.jpg);
}

.modalBttn {
position: absolute;
left: 96%;
top: 1%
}

.modalTitle {
  position: absolute;
  left: 2%;
  top: 20%;
}

.modalQty {
  position: absolute;
  left: 3%;
  top: 35%;
}

.checkOutBttn {
  position: absolute;
  left: 40%;
  top: 90%;
  
}